In [28]:
import pandas as pd
import numpy as np

df_a=pd.read_csv('data/stockinfo.itemname.csv',encoding='cp949')
df_b=pd.read_csv('data/stock.adj_close.csv',encoding='cp949')

In [29]:
df_a.head()

    Symbol itemname
0  A000020     동화약품
1  A000030     우리은행
2  A000040    KR모터스
3  A000050       경방
4  A000060    메리츠화재

In [30]:
df_b.head()

,Symbol,2018-06-01,2018-06-04,2018-06-05,2018-06-07,2018-06-08,2018-06-11,2018-06-12,2018-06-14,2018-06-15,...,2020-09-25,2020-09-28,2020-09-29,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-12,2020-10-13,2020-10-14
0,A000020,11550.0,11750.0,11700.0,11650.0,11500.0,11500.0,11650.0,12000.0,11800.0,...,22100.0,22000.0,21850.0,24100.0,23750.0,23500.0,24150.0,24000.0,24300.0,23850.0
1,A000030,15500.0,15950.0,16050.0,16500.0,16600.0,16650.0,16850.0,16500.0,16100.0,...,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0
2,A000040,2992.0,3021.0,3025.0,3069.0,3045.0,2984.0,2976.0,3033.0,3033.0,...,771.0,743.0,767.0,829.0,810.0,860.0,863.0,863.0,850.0,874.0
3,A000050,13200.0,13550.0,13600.0,13800.0,13800.0,13800.0,13650.0,13850.0,14500.0,...,10750.0,10500.0,10550.0,10850.0,10900.0,10900.0,11000.0,11000.0,10850.0,10800.0
4,A000060,20050.0,20050.0,20150.0,20050.0,20400.0,20150.0,20700.0,20950.0,20150.0,...,12750.0,12750.0,12850.0,13150.0,13300.0,13350.0,13900.0,13950.0,13700.0,13550.0

In [31]:
# 여러개의 DataFrame 합치기
#concat() : 여러 개의 데이터프레임 합치는 함수
df_a=df_a.iloc[:14]
df_a

     Symbol  itemname
0   A000020      동화약품
1   A000030      우리은행
2   A000040     KR모터스
3   A000050        경방
4   A000060     메리츠화재
5   A000070     삼양홀딩스
6   A000080     하이트진로
7   A000100      유한양행
8   A000120    CJ대한통운
9   A000140  하이트진로홀딩스
10  A000150        두산
11  A000180    성창기업지주
12  A000210      대림산업
13  A000220      유유제약

In [32]:
df_b=df_b.iloc[:14]
df_b

,Symbol,2018-06-01,2018-06-04,2018-06-05,2018-06-07,2018-06-08,2018-06-11,2018-06-12,2018-06-14,2018-06-15,...,2020-09-25,2020-09-28,2020-09-29,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-12,2020-10-13,2020-10-14
0,A000020,11550.0,11750.0,11700.0,11650.0,11500.0,11500.0,11650.0,12000.0,11800.0,...,22100.0,22000.0,21850.0,24100.0,23750.0,23500.0,24150.0,24000.0,24300.0,23850.0
1,A000030,15500.0,15950.0,16050.0,16500.0,16600.0,16650.0,16850.0,16500.0,16100.0,...,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0
2,A000040,2992.0,3021.0,3025.0,3069.0,3045.0,2984.0,2976.0,3033.0,3033.0,...,771.0,743.0,767.0,829.0,810.0,860.0,863.0,863.0,850.0,874.0
3,A000050,13200.0,13550.0,13600.0,13800.0,13800.0,13800.0,13650.0,13850.0,14500.0,...,10750.0,10500.0,10550.0,10850.0,10900.0,10900.0,11000.0,11000.0,10850.0,10800.0
4,A000060,20050.0,20050.0,20150.0,20050.0,20400.0,20150.0,20700.0,20950.0,20150.0,...,12750.0,12750.0,12850.0,13150.0,13300.0,13350.0,13900.0,13950.0,13700.0,13550.0
5,A000070,120000.0,123000.0,123500.0,124500.0,123500.0,125000.0,121500.0,118000.0,121000.0,...,62000.0,62500.0,64000.0,64300.0,63700.0,63700.0,62700.0,63500.0,63000.0,61800.0
6,A000080,20200.0,20400.0,20350.0,21000.0,20750.0,20850.0,20700.0,20650.0,20600.0,...,33350.0,35950.0,36250.0,35950.0,38300.0,37550.0,37700.0,37900.0,38700.0,38500.0
7,A000100,44979.0,42689.0,41406.0,41498.0,41956.0,42139.0,42414.0,41773.0,41590.0,...,61900.0,63700.0,64200.0,65100.0,65000.0,64800.0,65700.0,65000.0,64100.0,63600.0
8,A000120,148000.0,153000.0,152500.0,154000.0,154000.0,161500.0,161500.0,156500.0,152000.0,...,169500.0,172000.0,177500.0,182000.0,179000.0,183000.0,184000.0,188500.0,186500.0,180500.0
9,A000140,9360.0,9440.0,9390.0,9490.0,9510.0,9550.0,9440.0,9430.0,9420.0,...,15700.0,16900.0,16950.0,16950.0,17300.0,17150.0,17250.0,17300.0,17300.0,17250.0
10,A000150,83500.0,83894.0,84682.0,85469.0,83894.0,85863.0,84682.0,83106.0,85075.0,...,44400.0,46700.0,46850.0,47050.0,46250.0,45650.0,46200.0,48100.0,47500.0,47700.0
11,A000180,2995.0,2970.0,3045.0,3080.0,3095.0,3100.0,3230.0,3015.0,3190.0,...,1555.0,1610.0,1635.0,1650.0,1645.0,1650.0,1750.0,1745.0,1715.0,1825.0
12,A000210,84200.0,82500.0,85600.0,85000.0,84700.0,86000.0,84200.0,80100.0,80700.0,...,76200.0,77400.0,77400.0,80800.0,79400.0,78900.0,78000.0,78500.0,78300.0,76600.0
13,A000220,15700.0,15450.0,15250.0,15900.0,15600.0,15300.0,15750.0,15550.0,15850.0,...,15700.0,15750.0,16000.0,16650.0,16450.0,16350.0,16600.0,16600.0,16600.0,16250.0

In [33]:
# axis= 키워드 인자로 병합하는 방향 지정
# 0: 행 방향 (아래방향)
# 1: 열 방향 (->)
# pd.concat([df_a,df_b]) : 행 방향으로 병합
# pd.concat([df_a,df_b],axis=1) : 열 방향으로 병합
pd.concat([df_a,df_b])

,Symbol,itemname,2018-06-01,2018-06-04,2018-06-05,2018-06-07,2018-06-08,2018-06-11,2018-06-12,2018-06-14,...,2020-09-25,2020-09-28,2020-09-29,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-12,2020-10-13,2020-10-14
0,A000020,동화약품,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A000030,우리은행,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A000040,KR모터스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A000050,경방,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A000060,메리츠화재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,A000070,삼양홀딩스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A000080,하이트진로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A000100,유한양행,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A000120,CJ대한통운,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,A000140,하이트진로홀딩스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,A000150,두산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,A000180,성창기업지주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,A000210,대림산업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A000220,유유제약,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A000020,NaN,11550.0,11750.0,11700.0,11650.0,11500.0,11500.0,11650.0,12000.0,...,22100.0,22000.0,21850.0,24100.0,23750.0,23500.0,24150.0,24000.0,24300.0,23850.0
1,A000030,NaN,15500.0,15950.0,16050.0,16500.0,16600.0,16650.0,16850.0,16500.0,...,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0
2,A000040,NaN,2992.0,3021.0,3025.0,3069.0,3045.0,2984.0,2976.0,3033.0,...,771.0,743.0,767.0,829.0,810.0,860.0,863.0,863.0,850.0,874.0
3,A000050,NaN,13200.0,13550.0,13600.0,13800.0,13800.0,13800.0,13650.0,13850.0,...,10750.0,10500.0,10550.0,10850.0,10900.0,10900.0,11000.0,11000.0,10850.0,10800.0
4,A000060,NaN,20050.0,20050.0,20150.0,20050.0,20400.0,20150.0,20700.0,20950.0,...,12750.0,12750.0,12850.0,13150.0,13300.0,13350.0,13900.0,13950.0,13700.0,13550.0
5,A000070,NaN,120000.0,123000.0,123500.0,124500.0,123500.0,125000.0,121500.0,118000.0,...,62000.0,62500.0,64000.0,64300.0,63700.0,63700.0,62700.0,63500.0,63000.0,61800.0
6,A000080,NaN,20200.0,20400.0,20350.0,21000.0,20750.0,20850.0,20700.0,20650.0,...,33350.0,35950.0,36250.0,35950.0,38300.0,37550.0,37700.0,37900.0,38700.0,38500.0
7,A000100,NaN,44979.0,42689.0,41406.0,41498.0,41956.0,42139.0,42414.0,41773.0,...,61900.0,63700.0,64200.0,65100.0,65000.0,64800.0,65700.0,65000.0,64100.0,63600.0
8,A000120,NaN,148000.0,153000.0,152500.0,154000.0,154000.0,161500.0,161500.0,156500.0,...,169500.0,172000.0,177500.0,182000.0,179000.0,183000.0,184000.0,188500.0,186500.0,180500.0
9,A000140,NaN,9360.0,9440.0,9390.0,9490.0,9510.0,9550.0,9440.0,9430.0,...,15700.0,16900.0,16950.0,16950.0,17300.0,17150.0,17250.0,17300.0,17300.0,17250.0
10,A000150,NaN,83500.0,83894.0,84682.0,85469.0,83894.0,85863.0,84682.0,83106.0,...,44400.0,46700.0,46850.0,47050.0,46250.0,45650.0,46200.0,48100.0,47500.0,47700.0
11,A000180,NaN,2995.0,2970.0,3045.0,3080.0,3095.0,3100.0,3230.0,3015.0,...,1555.0,1610.0,1635.0,1650.0,1645.0,1650.0,1750.0,1745.0,1715.0,1825.0
12,A000210,NaN,84200.0,82500.0,85600.0,85000.0,84700.0,86000.0,84200.0,80100.0,...,76200.0,77400.0,77400.0,80800.0,79400.0,78900.0,78000.0,78500.0,78300.0,76600.0
13,A000220,NaN,15700.0,15450.0,15250.0,15900.0,15600.0,15300.0,15750.0,15550.0,...,15700.0,15750.0,16000.0,16650.0,16450.0,16350.0,16600.0,16600.0,16600.0,16250.0

In [34]:
pd.concat([df_a,df_b], axis=1)

,Symbol,itemname,Symbol,2018-06-01,2018-06-04,2018-06-05,2018-06-07,2018-06-08,2018-06-11,2018-06-12,...,2020-09-25,2020-09-28,2020-09-29,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-12,2020-10-13,2020-10-14
0,A000020,동화약품,A000020,11550.0,11750.0,11700.0,11650.0,11500.0,11500.0,11650.0,...,22100.0,22000.0,21850.0,24100.0,23750.0,23500.0,24150.0,24000.0,24300.0,23850.0
1,A000030,우리은행,A000030,15500.0,15950.0,16050.0,16500.0,16600.0,16650.0,16850.0,...,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0
2,A000040,KR모터스,A000040,2992.0,3021.0,3025.0,3069.0,3045.0,2984.0,2976.0,...,771.0,743.0,767.0,829.0,810.0,860.0,863.0,863.0,850.0,874.0
3,A000050,경방,A000050,13200.0,13550.0,13600.0,13800.0,13800.0,13800.0,13650.0,...,10750.0,10500.0,10550.0,10850.0,10900.0,10900.0,11000.0,11000.0,10850.0,10800.0
4,A000060,메리츠화재,A000060,20050.0,20050.0,20150.0,20050.0,20400.0,20150.0,20700.0,...,12750.0,12750.0,12850.0,13150.0,13300.0,13350.0,13900.0,13950.0,13700.0,13550.0
5,A000070,삼양홀딩스,A000070,120000.0,123000.0,123500.0,124500.0,123500.0,125000.0,121500.0,...,62000.0,62500.0,64000.0,64300.0,63700.0,63700.0,62700.0,63500.0,63000.0,61800.0
6,A000080,하이트진로,A000080,20200.0,20400.0,20350.0,21000.0,20750.0,20850.0,20700.0,...,33350.0,35950.0,36250.0,35950.0,38300.0,37550.0,37700.0,37900.0,38700.0,38500.0
7,A000100,유한양행,A000100,44979.0,42689.0,41406.0,41498.0,41956.0,42139.0,42414.0,...,61900.0,63700.0,64200.0,65100.0,65000.0,64800.0,65700.0,65000.0,64100.0,63600.0
8,A000120,CJ대한통운,A000120,148000.0,153000.0,152500.0,154000.0,154000.0,161500.0,161500.0,...,169500.0,172000.0,177500.0,182000.0,179000.0,183000.0,184000.0,188500.0,186500.0,180500.0
9,A000140,하이트진로홀딩스,A000140,9360.0,9440.0,9390.0,9490.0,9510.0,9550.0,9440.0,...,15700.0,16900.0,16950.0,16950.0,17300.0,17150.0,17250.0,17300.0,17300.0,17250.0
10,A000150,두산,A000150,83500.0,83894.0,84682.0,85469.0,83894.0,85863.0,84682.0,...,44400.0,46700.0,46850.0,47050.0,46250.0,45650.0,46200.0,48100.0,47500.0,47700.0
11,A000180,성창기업지주,A000180,2995.0,2970.0,3045.0,3080.0,3095.0,3100.0,3230.0,...,1555.0,1610.0,1635.0,1650.0,1645.0,1650.0,1750.0,1745.0,1715.0,1825.0
12,A000210,대림산업,A000210,84200.0,82500.0,85600.0,85000.0,84700.0,86000.0,84200.0,...,76200.0,77400.0,77400.0,80800.0,79400.0,78900.0,78000.0,78500.0,78300.0,76600.0
13,A000220,유유제약,A000220,15700.0,15450.0,15250.0,15900.0,15600.0,15300.0,15750.0,...,15700.0,15750.0,16000.0,16650.0,16450.0,16350.0,16600.0,16600.0,16600.0,16250.0

In [35]:
# groupby() : 그룹으로 묶어서 Aggregation하기
# groupby(by=집계대상, axis=집계축)
## 특정 인덱스나 컬럼의 값 별로 그룹핑하여 Aggregation 함( axis는 생략 가능하나, 기본적으로 index행 방향 집계)

In [36]:
df=pd.read_csv('data/stockinfo.sector.csv',encoding='cp949')

In [37]:
df.head()

    Symbol       Sector
0  A000020     제약_및_바이오
1  A000030          NaN
2  A000040     자동차_및_부품
3  A000050  내구_소비재_및_의류
4  A000060           보험

In [38]:
df.shape

(2278, 2)

In [39]:
df['Sector'].unique

<bound method Series.unique of 0          제약_및_바이오
1               NaN
2          자동차_및_부품
3       내구_소비재_및_의류
4                보험
           ...
2273            NaN
2274            NaN
2275            NaN
2276            NaN
2277            NaN
Name: Sector, Length: 2278, dtype: object>

In [ ]:
# 예시로..
df.groupby('Sector').sum()
df.groupby('Sector').mean()
df.groupby('Sector').count()
df.groupby('Sector').max()

In [ ]:
#query() : 필터링